@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.first-section{
    background-color: #1F2937;
}
#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.header-link{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}
ul{
    display: flex;
    flex-direction: row;
}
.navbar{
    display: flex;
    flex-direction: row;
}
.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.image{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 50px;
}
.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 150px;
}
.sign-up-first-section{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    border: 1px  #3882F6;
    border-radius: 10px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em;
    margin-top: 3em;
}

main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}
.square {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 7em 13em;
}

.quote p {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
}

.quote em {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}